<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSStatusItem VisibleCC Item-0</key>
	<true/>
	<key>accentColorMode</key>
	<string>0</string>
	<key>animateStashedWindows__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:19Z</date>
	<key>animateWindowResizes</key>
	<false/>
	<key>animateWindowResizes__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:35:55Z</date>
	<key>animationConfiguration</key>
	<integer>2</integer>
	<key>animationConfiguration__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:34Z</date>
	<key>automaticallyUpdate__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:09:17Z</date>
	<key>currentIcon</key>
	<string>AppIcon-Holo</string>
	<key>currentIcon__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:13:41Z</date>
	<key>cycleModeRestartEnabled__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:48Z</date>
	<key>disableCursorInteraction</key>
	<true/>
	<key>disableCursorInteraction__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:28:54Z</date>
	<key>doubleClickToTrigger__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:48Z</date>
	<key>enableTriggerDelayOnMiddleClick__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:48Z</date>
	<key>excludedApps__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:09:20Z</date>
	<key>focusWindowOnResize__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:19Z</date>
	<key>hapticFeedback__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:17Z</date>
	<key>hideMenuBarIcon</key>
	<false/>
	<key>hideUntilDirectionIsChosen__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:17Z</date>
	<key>ignoreFullscreen__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:17Z</date>
	<key>ignoreLowPowerMode__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:17Z</date>
	<key>keybinds</key>
	<array>
		<string>{"direction":"ScaleDown","id":"EA372DF9-8AEB-49DC-90F4-54E49E64E0AE","keybind":[58,27]}</string>
		<string>{"direction":"ScaleUp","id":"ABF11AC9-5D8E-45FE-8403-41EDF5CECE25","keybind":[58,24]}</string>
		<string>{"direction":"Maximize","id":"64658D09-9AD2-45A1-A273-928456BC1D98","keybind":[58,36]}</string>
		<string>{"direction":"NextScreen","id":"5E3CFF94-34F5-4537-8F5D-D215BAE2D50E","keybind":[124,58,55]}</string>
		<string>{"direction":"PreviousScreen","id":"248C1E6B-814A-4DF3-AEF2-139B0DDB5913","keybind":[55,123,58]}</string>
		<string>{"direction":"AlmostMaximize","id":"42902B68-E299-4674-A30A-994CE5C2E6CC","keybind":[36]}</string>
		<string>{"cycle":[{"direction":"TopHalf","id":"50F1243A-04E2-42B0-8BE8-FB78C053935C","keybind":[]},{"direction":"TopThird","id":"E0C91BEC-29C4-49A5-AB28-32611BCDDE70","keybind":[]},{"direction":"TopTwoThirds","id":"66CC31B7-364B-4275-B019-C8367F65D31F","keybind":[]}],"direction":"Cycle","id":"2DB90A55-B26E-4ED7-8195-B28F55C5B439","keybind":[126],"name":"Top Cycle"}</string>
		<string>{"cycle":[{"direction":"BottomHalf","id":"1B2741DD-EE00-4306-B249-900D8DAF0FF7","keybind":[]},{"direction":"BottomThird","id":"BF34B18F-BC29-48F8-B233-940688AE0778","keybind":[]},{"direction":"BottomTwoThirds","id":"A92ABE3A-BFEB-47A7-822B-0D3CEDEAB054","keybind":[]}],"direction":"Cycle","id":"620B66E5-5CD0-49B0-AF20-181898D13B95","keybind":[125],"name":"Bottom Cycle"}</string>
		<string>{"cycle":[{"direction":"RightHalf","id":"8F182834-6940-41BD-882A-049BFC3E557C","keybind":[]},{"direction":"RightThird","id":"DECA46FC-0FB9-46B5-9B44-B630CF543E8B","keybind":[]},{"direction":"RightTwoThirds","id":"32A6ADB4-C978-4515-A5F7-327DC678983E","keybind":[]}],"direction":"Cycle","id":"46AEACA1-A8D2-4A54-9632-9BB78A50E1A2","keybind":[124],"name":"Right Cycle"}</string>
		<string>{"cycle":[{"direction":"LeftHalf","id":"522E72AD-64C1-4AA7-B4F3-BB11C663D9AB","keybind":[]},{"direction":"LeftThird","id":"B80EE0A8-9E42-4358-871F-EEDF2B9C2E5A","keybind":[]},{"direction":"LeftTwoThirds","id":"330D5B14-EA31-4BE1-BE99-E002833C07FE","keybind":[]}],"direction":"Cycle","id":"1F6D06DC-738A-4C93-A913-A1CE2CE7B131","keybind":[123],"name":"Left Cycle"}</string>
		<string>{"direction":"TopLeftQuarter","id":"07C2FD48-D979-4772-B168-AA743BD141F2","keybind":[126,123]}</string>
		<string>{"direction":"TopRightQuarter","id":"4722C2CD-F56C-45B9-B70B-49751D428966","keybind":[124,126]}</string>
		<string>{"direction":"BottomRightQuarter","id":"F5536862-ECB6-4DAA-9D26-30AFBA7084C1","keybind":[124,125]}</string>
		<string>{"direction":"BottomLeftQuarter","id":"6C6E41C2-4C50-41CA-B68E-F20A46254DA8","keybind":[125,123]}</string>
	</array>
	<key>keybinds__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:43:08Z</date>
	<key>lastUsedAccentColor1</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGpCwwXGBkkKisyVSRudWxs1Q0O
	DxAREhMUFRZWJGNsYXNzW05TQ29sb3JOYW1lXE5TQ29sb3JTcGFjZV1OU0NhdGFsb2dO
	YW1lV05TQ29sb3KACIADEAaAAoAEXxAPIyRjdXN0b21EeW5hbWljXxAkMDdFRTU5RjAt
	MzIyOC00NjRBLThEOUItQTIwQjk3QTQzOTQ41g0aGw8cHRIfICEiI1xOU0NvbXBvbmVu
	dHNVTlNSR0JfEBJOU0N1c3RvbUNvbG9yU3BhY2VfEBBOU0xpbmVhckV4cG9zdXJlgAhP
	EBIwIDAuNDc4NDMxNDAzNiAxIDFPECcwLjA0MDgxNDc4NzE1IDAuMzc0ODE0MDMzNSAw
	Ljk5ODM2NzU0OAAQAYAFQTDTJQ0mJygpVU5TSUNDWU5TU3BhY2VJRIAGgAcQDk8RDEgA
	AAxITGlubwIQAABtbnRyUkdCIFhZWiAHzgACAAkABgAxAABhY3NwTVNGVAAAAABJRUMg
	c1JHQgAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLUhQICAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABFjcHJ0AAABUAAAADNkZXNjAAABhAAA
	AGx3dHB0AAAB8AAAABRia3B0AAACBAAAABRyWFlaAAACGAAAABRnWFlaAAACLAAAABRi
	WFlaAAACQAAAABRkbW5kAAACVAAAAHBkbWRkAAACxAAAAIh2dWVkAAADTAAAAIZ2aWV3
	AAAD1AAAACRsdW1pAAAD+AAAABRtZWFzAAAEDAAAACR0ZWNoAAAEMAAAAAxyVFJDAAAE
	PAAACAxnVFJDAAAEPAAACAxiVFJDAAAEPAAACAx0ZXh0AAAAAENvcHlyaWdodCAoYykg
	MTk5OCBIZXdsZXR0LVBhY2thcmQgQ29tcGFueQAAZGVzYwAAAAAAAAASc1JHQiBJRUM2
	MTk2Ni0yLjEAAAAAAAAAAAAAABJzUkdCIElFQzYxOTY2LTIuMQAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAWFlaIAAAAAAAAPNRAAEA
	AAABFsxYWVogAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAABvogAAOPUAAAOQWFlaIAAA
	AAAAAGKZAAC3hQAAGNpYWVogAAAAAAAAJKAAAA+EAAC2z2Rlc2MAAAAAAAAAFklFQyBo
	dHRwOi8vd3d3LmllYy5jaAAAAAAAAAAAAAAAFklFQyBodHRwOi8vd3d3LmllYy5jaAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABkZXNjAAAA
	AAAAAC5JRUMgNjE5NjYtMi4xIERlZmF1bHQgUkdCIGNvbG91ciBzcGFjZSAtIHNSR0IA
	AAAAAAAAAAAAAC5JRUMgNjE5NjYtMi4xIERlZmF1bHQgUkdCIGNvbG91ciBzcGFjZSAt
	IHNSR0IAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZGVzYwAAAAAAAAAsUmVmZXJlbmNlIFZp
	ZXdpbmcgQ29uZGl0aW9uIGluIElFQzYxOTY2LTIuMQAAAAAAAAAAAAAALFJlZmVyZW5j
	ZSBWaWV3aW5nIENvbmRpdGlvbiBpbiBJRUM2MTk2Ni0yLjEAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAHZpZXcAAAAAABOk/gAUXy4AEM8UAAPtzAAEEwsAA1yeAAAAAVhZWiAA
	AAAAAEwJVgBQAAAAVx/nbWVhcwAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAo8AAAAC
	c2lnIAAAAABDUlQgY3VydgAAAAAAAAQAAAAABQAKAA8AFAAZAB4AIwAoAC0AMgA3ADsA
	QABFAEoATwBUAFkAXgBjAGgAbQByAHcAfACBAIYAiwCQAJUAmgCfAKQAqQCuALIAtwC8
	AMEAxgDLANAA1QDbAOAA5QDrAPAA9gD7AQEBBwENARMBGQEfASUBKwEyATgBPgFFAUwB
	UgFZAWABZwFuAXUBfAGDAYsBkgGaAaEBqQGxAbkBwQHJAdEB2QHhAekB8gH6AgMCDAIU
	Ah0CJgIvAjgCQQJLAlQCXQJnAnECegKEAo4CmAKiAqwCtgLBAssC1QLgAusC9QMAAwsD
	FgMhAy0DOANDA08DWgNmA3IDfgOKA5YDogOuA7oDxwPTA+AD7AP5BAYEEwQgBC0EOwRI
	BFUEYwRxBH4EjASaBKgEtgTEBNME4QTwBP4FDQUcBSsFOgVJBVgFZwV3BYYFlgWmBbUF
	xQXVBeUF9gYGBhYGJwY3BkgGWQZqBnsGjAadBq8GwAbRBuMG9QcHBxkHKwc9B08HYQd0
	B4YHmQesB78H0gflB/gICwgfCDIIRghaCG4IggiWCKoIvgjSCOcI+wkQCSUJOglPCWQJ
	eQmPCaQJugnPCeUJ+woRCicKPQpUCmoKgQqYCq4KxQrcCvMLCwsiCzkLUQtpC4ALmAuw
	C8gL4Qv5DBIMKgxDDFwMdQyODKcMwAzZDPMNDQ0mDUANWg10DY4NqQ3DDd4N+A4TDi4O
	SQ5kDn8Omw62DtIO7g8JDyUPQQ9eD3oPlg+zD88P7BAJECYQQxBhEH4QmxC5ENcQ9RET
	ETERTxFtEYwRqhHJEegSBxImEkUSZBKEEqMSwxLjEwMTIxNDE2MTgxOkE8UT5RQGFCcU
	SRRqFIsUrRTOFPAVEhU0FVYVeBWbFb0V4BYDFiYWSRZsFo8WshbWFvoXHRdBF2UXiReu
	F9IX9xgbGEAYZRiKGK8Y1Rj6GSAZRRlrGZEZtxndGgQaKhpRGncanhrFGuwbFBs7G2Mb
	ihuyG9ocAhwqHFIcexyjHMwc9R0eHUcdcB2ZHcMd7B4WHkAeah6UHr4e6R8THz4faR+U
	H78f6iAVIEEgbCCYIMQg8CEcIUghdSGhIc4h+yInIlUigiKvIt0jCiM4I2YjlCPCI/Ak
	HyRNJHwkqyTaJQklOCVoJZclxyX3JicmVyaHJrcm6CcYJ0kneierJ9woDSg/KHEooijU
	KQYpOClrKZ0p0CoCKjUqaCqbKs8rAis2K2krnSvRLAUsOSxuLKIs1y0MLUEtdi2rLeEu
	Fi5MLoIuty7uLyQvWi+RL8cv/jA1MGwwpDDbMRIxSjGCMbox8jIqMmMymzLUMw0zRjN/
	M7gz8TQrNGU0njTYNRM1TTWHNcI1/TY3NnI2rjbpNyQ3YDecN9c4FDhQOIw4yDkFOUI5
	fzm8Ofk6Njp0OrI67zstO2s7qjvoPCc8ZTykPOM9Ij1hPaE94D4gPmA+oD7gPyE/YT+i
	P+JAI0BkQKZA50EpQWpBrEHuQjBCckK1QvdDOkN9Q8BEA0RHRIpEzkUSRVVFmkXeRiJG
	Z0arRvBHNUd7R8BIBUhLSJFI10kdSWNJqUnwSjdKfUrESwxLU0uaS+JMKkxyTLpNAk1K
	TZNN3E4lTm5Ot08AT0lPk0/dUCdQcVC7UQZRUFGbUeZSMVJ8UsdTE1NfU6pT9lRCVI9U
	21UoVXVVwlYPVlxWqVb3V0RXklfgWC9YfVjLWRpZaVm4WgdaVlqmWvVbRVuVW+VcNVyG
	XNZdJ114XcleGl5sXr1fD19hX7NgBWBXYKpg/GFPYaJh9WJJYpxi8GNDY5dj62RAZJRk
	6WU9ZZJl52Y9ZpJm6Gc9Z5Nn6Wg/aJZo7GlDaZpp8WpIap9q92tPa6dr/2xXbK9tCG1g
	bbluEm5rbsRvHm94b9FwK3CGcOBxOnGVcfByS3KmcwFzXXO4dBR0cHTMdSh1hXXhdj52
	m3b4d1Z3s3gReG54zHkqeYl553pGeqV7BHtje8J8IXyBfOF9QX2hfgF+Yn7CfyN/hH/l
	gEeAqIEKgWuBzYIwgpKC9INXg7qEHYSAhOOFR4Wrhg6GcobXhzuHn4gEiGmIzokziZmJ
	/opkisqLMIuWi/yMY4zKjTGNmI3/jmaOzo82j56QBpBukNaRP5GokhGSepLjk02TtpQg
	lIqU9JVflcmWNJaflwqXdZfgmEyYuJkkmZCZ/JpomtWbQpuvnByciZz3nWSd0p5Anq6f
	HZ+Ln/qgaaDYoUehtqImopajBqN2o+akVqTHpTilqaYapoum/adup+CoUqjEqTepqaoc
	qo+rAqt1q+msXKzQrUStuK4trqGvFq+LsACwdbDqsWCx1rJLssKzOLOutCW0nLUTtYq2
	AbZ5tvC3aLfguFm40blKucK6O7q1uy67p7whvJu9Fb2Pvgq+hL7/v3q/9cBwwOzBZ8Hj
	wl/C28NYw9TEUcTOxUvFyMZGxsPHQce/yD3IvMk6ybnKOMq3yzbLtsw1zLXNNc21zjbO
	ts83z7jQOdC60TzRvtI/0sHTRNPG1EnUy9VO1dHWVdbY11zX4Nhk2OjZbNnx2nba+9uA
	3AXcit0Q3ZbeHN6i3ynfr+A24L3hROHM4lPi2+Nj4+vkc+T85YTmDeaW5x/nqegy6Lzp
	RunQ6lvq5etw6/vshu0R7ZzuKO6070DvzPBY8OXxcvH/8ozzGfOn9DT0wvVQ9d72bfb7
	94r4Gfio+Tj5x/pX+uf7d/wH/Jj9Kf26/kv+3P9t///SLC0uL1okY2xhc3NuYW1lWCRj
	bGFzc2VzXE5TQ29sb3JTcGFjZaIwMVxOU0NvbG9yU3BhY2VYTlNPYmplY3TSLC0zNFdO
	U0NvbG9yojMxAAgAEQAaACQAKQAyADcASQBMAFEAUwBdAGMAbgB1AIEAjgCcAKQApgCo
	AKoArACuAMAA5wD0AQEBBwEcAS8BMQFGAXABcgF0AXYBfQGDAY0BjwGRAZMN3w3kDe8N
	+A4FDggOFQ4eDiMOKwAAAAAAAAIBAAAAAAAAADUAAAAAAAAAAAAAAAAAAA4u
	</data>
	<key>lastUsedAccentColor2</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGpCwwXGBkkKisyVSRudWxs1Q0O
	DxAREhMUFRZWJGNsYXNzW05TQ29sb3JOYW1lXE5TQ29sb3JTcGFjZV1OU0NhdGFsb2dO
	YW1lV05TQ29sb3KACIADEAaAAoAEXxAPIyRjdXN0b21EeW5hbWljXxAkMDdFRTU5RjAt
	MzIyOC00NjRBLThEOUItQTIwQjk3QTQzOTQ41g0aGw8cHRIfICEiI1xOU0NvbXBvbmVu
	dHNVTlNSR0JfEBJOU0N1c3RvbUNvbG9yU3BhY2VfEBBOU0xpbmVhckV4cG9zdXJlgAhP
	EBIwIDAuNDc4NDMxNDAzNiAxIDFPECcwLjA0MDgxNDc4NzE1IDAuMzc0ODE0MDMzNSAw
	Ljk5ODM2NzU0OAAQAYAFQTDTJQ0mJygpVU5TSUNDWU5TU3BhY2VJRIAGgAcQDk8RDEgA
	AAxITGlubwIQAABtbnRyUkdCIFhZWiAHzgACAAkABgAxAABhY3NwTVNGVAAAAABJRUMg
	c1JHQgAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLUhQICAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABFjcHJ0AAABUAAAADNkZXNjAAABhAAA
	AGx3dHB0AAAB8AAAABRia3B0AAACBAAAABRyWFlaAAACGAAAABRnWFlaAAACLAAAABRi
	WFlaAAACQAAAABRkbW5kAAACVAAAAHBkbWRkAAACxAAAAIh2dWVkAAADTAAAAIZ2aWV3
	AAAD1AAAACRsdW1pAAAD+AAAABRtZWFzAAAEDAAAACR0ZWNoAAAEMAAAAAxyVFJDAAAE
	PAAACAxnVFJDAAAEPAAACAxiVFJDAAAEPAAACAx0ZXh0AAAAAENvcHlyaWdodCAoYykg
	MTk5OCBIZXdsZXR0LVBhY2thcmQgQ29tcGFueQAAZGVzYwAAAAAAAAASc1JHQiBJRUM2
	MTk2Ni0yLjEAAAAAAAAAAAAAABJzUkdCIElFQzYxOTY2LTIuMQAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAWFlaIAAAAAAAAPNRAAEA
	AAABFsxYWVogAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAABvogAAOPUAAAOQWFlaIAAA
	AAAAAGKZAAC3hQAAGNpYWVogAAAAAAAAJKAAAA+EAAC2z2Rlc2MAAAAAAAAAFklFQyBo
	dHRwOi8vd3d3LmllYy5jaAAAAAAAAAAAAAAAFklFQyBodHRwOi8vd3d3LmllYy5jaAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABkZXNjAAAA
	AAAAAC5JRUMgNjE5NjYtMi4xIERlZmF1bHQgUkdCIGNvbG91ciBzcGFjZSAtIHNSR0IA
	AAAAAAAAAAAAAC5JRUMgNjE5NjYtMi4xIERlZmF1bHQgUkdCIGNvbG91ciBzcGFjZSAt
	IHNSR0IAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZGVzYwAAAAAAAAAsUmVmZXJlbmNlIFZp
	ZXdpbmcgQ29uZGl0aW9uIGluIElFQzYxOTY2LTIuMQAAAAAAAAAAAAAALFJlZmVyZW5j
	ZSBWaWV3aW5nIENvbmRpdGlvbiBpbiBJRUM2MTk2Ni0yLjEAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAHZpZXcAAAAAABOk/gAUXy4AEM8UAAPtzAAEEwsAA1yeAAAAAVhZWiAA
	AAAAAEwJVgBQAAAAVx/nbWVhcwAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAo8AAAAC
	c2lnIAAAAABDUlQgY3VydgAAAAAAAAQAAAAABQAKAA8AFAAZAB4AIwAoAC0AMgA3ADsA
	QABFAEoATwBUAFkAXgBjAGgAbQByAHcAfACBAIYAiwCQAJUAmgCfAKQAqQCuALIAtwC8
	AMEAxgDLANAA1QDbAOAA5QDrAPAA9gD7AQEBBwENARMBGQEfASUBKwEyATgBPgFFAUwB
	UgFZAWABZwFuAXUBfAGDAYsBkgGaAaEBqQGxAbkBwQHJAdEB2QHhAekB8gH6AgMCDAIU
	Ah0CJgIvAjgCQQJLAlQCXQJnAnECegKEAo4CmAKiAqwCtgLBAssC1QLgAusC9QMAAwsD
	FgMhAy0DOANDA08DWgNmA3IDfgOKA5YDogOuA7oDxwPTA+AD7AP5BAYEEwQgBC0EOwRI
	BFUEYwRxBH4EjASaBKgEtgTEBNME4QTwBP4FDQUcBSsFOgVJBVgFZwV3BYYFlgWmBbUF
	xQXVBeUF9gYGBhYGJwY3BkgGWQZqBnsGjAadBq8GwAbRBuMG9QcHBxkHKwc9B08HYQd0
	B4YHmQesB78H0gflB/gICwgfCDIIRghaCG4IggiWCKoIvgjSCOcI+wkQCSUJOglPCWQJ
	eQmPCaQJugnPCeUJ+woRCicKPQpUCmoKgQqYCq4KxQrcCvMLCwsiCzkLUQtpC4ALmAuw
	C8gL4Qv5DBIMKgxDDFwMdQyODKcMwAzZDPMNDQ0mDUANWg10DY4NqQ3DDd4N+A4TDi4O
	SQ5kDn8Omw62DtIO7g8JDyUPQQ9eD3oPlg+zD88P7BAJECYQQxBhEH4QmxC5ENcQ9RET
	ETERTxFtEYwRqhHJEegSBxImEkUSZBKEEqMSwxLjEwMTIxNDE2MTgxOkE8UT5RQGFCcU
	SRRqFIsUrRTOFPAVEhU0FVYVeBWbFb0V4BYDFiYWSRZsFo8WshbWFvoXHRdBF2UXiReu
	F9IX9xgbGEAYZRiKGK8Y1Rj6GSAZRRlrGZEZtxndGgQaKhpRGncanhrFGuwbFBs7G2Mb
	ihuyG9ocAhwqHFIcexyjHMwc9R0eHUcdcB2ZHcMd7B4WHkAeah6UHr4e6R8THz4faR+U
	H78f6iAVIEEgbCCYIMQg8CEcIUghdSGhIc4h+yInIlUigiKvIt0jCiM4I2YjlCPCI/Ak
	HyRNJHwkqyTaJQklOCVoJZclxyX3JicmVyaHJrcm6CcYJ0kneierJ9woDSg/KHEooijU
	KQYpOClrKZ0p0CoCKjUqaCqbKs8rAis2K2krnSvRLAUsOSxuLKIs1y0MLUEtdi2rLeEu
	Fi5MLoIuty7uLyQvWi+RL8cv/jA1MGwwpDDbMRIxSjGCMbox8jIqMmMymzLUMw0zRjN/
	M7gz8TQrNGU0njTYNRM1TTWHNcI1/TY3NnI2rjbpNyQ3YDecN9c4FDhQOIw4yDkFOUI5
	fzm8Ofk6Njp0OrI67zstO2s7qjvoPCc8ZTykPOM9Ij1hPaE94D4gPmA+oD7gPyE/YT+i
	P+JAI0BkQKZA50EpQWpBrEHuQjBCckK1QvdDOkN9Q8BEA0RHRIpEzkUSRVVFmkXeRiJG
	Z0arRvBHNUd7R8BIBUhLSJFI10kdSWNJqUnwSjdKfUrESwxLU0uaS+JMKkxyTLpNAk1K
	TZNN3E4lTm5Ot08AT0lPk0/dUCdQcVC7UQZRUFGbUeZSMVJ8UsdTE1NfU6pT9lRCVI9U
	21UoVXVVwlYPVlxWqVb3V0RXklfgWC9YfVjLWRpZaVm4WgdaVlqmWvVbRVuVW+VcNVyG
	XNZdJ114XcleGl5sXr1fD19hX7NgBWBXYKpg/GFPYaJh9WJJYpxi8GNDY5dj62RAZJRk
	6WU9ZZJl52Y9ZpJm6Gc9Z5Nn6Wg/aJZo7GlDaZpp8WpIap9q92tPa6dr/2xXbK9tCG1g
	bbluEm5rbsRvHm94b9FwK3CGcOBxOnGVcfByS3KmcwFzXXO4dBR0cHTMdSh1hXXhdj52
	m3b4d1Z3s3gReG54zHkqeYl553pGeqV7BHtje8J8IXyBfOF9QX2hfgF+Yn7CfyN/hH/l
	gEeAqIEKgWuBzYIwgpKC9INXg7qEHYSAhOOFR4Wrhg6GcobXhzuHn4gEiGmIzokziZmJ
	/opkisqLMIuWi/yMY4zKjTGNmI3/jmaOzo82j56QBpBukNaRP5GokhGSepLjk02TtpQg
	lIqU9JVflcmWNJaflwqXdZfgmEyYuJkkmZCZ/JpomtWbQpuvnByciZz3nWSd0p5Anq6f
	HZ+Ln/qgaaDYoUehtqImopajBqN2o+akVqTHpTilqaYapoum/adup+CoUqjEqTepqaoc
	qo+rAqt1q+msXKzQrUStuK4trqGvFq+LsACwdbDqsWCx1rJLssKzOLOutCW0nLUTtYq2
	AbZ5tvC3aLfguFm40blKucK6O7q1uy67p7whvJu9Fb2Pvgq+hL7/v3q/9cBwwOzBZ8Hj
	wl/C28NYw9TEUcTOxUvFyMZGxsPHQce/yD3IvMk6ybnKOMq3yzbLtsw1zLXNNc21zjbO
	ts83z7jQOdC60TzRvtI/0sHTRNPG1EnUy9VO1dHWVdbY11zX4Nhk2OjZbNnx2nba+9uA
	3AXcit0Q3ZbeHN6i3ynfr+A24L3hROHM4lPi2+Nj4+vkc+T85YTmDeaW5x/nqegy6Lzp
	RunQ6lvq5etw6/vshu0R7ZzuKO6070DvzPBY8OXxcvH/8ozzGfOn9DT0wvVQ9d72bfb7
	94r4Gfio+Tj5x/pX+uf7d/wH/Jj9Kf26/kv+3P9t///SLC0uL1okY2xhc3NuYW1lWCRj
	bGFzc2VzXE5TQ29sb3JTcGFjZaIwMVxOU0NvbG9yU3BhY2VYTlNPYmplY3TSLC0zNFdO
	U0NvbG9yojMxAAgAEQAaACQAKQAyADcASQBMAFEAUwBdAGMAbgB1AIEAjgCcAKQApgCo
	AKoArACuAMAA5wD0AQEBBwEcAS8BMQFGAXABcgF0AXYBfQGDAY0BjwGRAZMN3w3kDe8N
	+A4FDggOFQ4eDiMOKwAAAAAAAAIBAAAAAAAAADUAAAAAAAAAAAAAAAAAAA4u
	</data>
	<key>launchAtLogin</key>
	<true/>
	<key>launchAtLogin__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:29Z</date>
	<key>lockRadialMenuToCenter__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:09:59Z</date>
	<key>middleClickTriggersLoop__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:48Z</date>
	<key>moveCursorWithWindow</key>
	<true/>
	<key>moveCursorWithWindow__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:21:51Z</date>
	<key>patchesApplied</key>
	<integer>3</integer>
	<key>patchesApplied__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:07:02Z</date>
	<key>previewStartingPosition__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:09:59Z</date>
	<key>previewUseWindowCornerRadius__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:42Z</date>
	<key>previewVisibility__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:19Z</date>
	<key>radialMenuActions__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:44Z</date>
	<key>radialMenuVisibility__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:44Z</date>
	<key>resizeWindowUnderCursor</key>
	<false/>
	<key>resizeWindowUnderCursor__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:43:43Z</date>
	<key>respectStageManager__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:19Z</date>
	<key>restoreWindowFrameOnDrag__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:19Z</date>
	<key>shiftFocusWhenStashed__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:19Z</date>
	<key>showDockIcon</key>
	<true/>
	<key>showDockIcon__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:03Z</date>
	<key>sideDependentTriggerKey__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:48Z</date>
	<key>sizeIncrement__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:17Z</date>
	<key>snapThreshold__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:35:18Z</date>
	<key>stageStripSize__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:19Z</date>
	<key>stashedWindowVisiblePadding__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:19Z</date>
	<key>suppressMissionControlOnTopDrag__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:19Z</date>
	<key>timesLooped</key>
	<integer>577</integer>
	<key>timesLooped__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T18:35:27Z</date>
	<key>trigger</key>
	<array>
		<integer>59</integer>
	</array>
	<key>triggerDelay__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:48Z</date>
	<key>triggerKeyTimeout__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:09:59Z</date>
	<key>trigger__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:14:22Z</date>
	<key>useScreenWithCursor__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:08:19Z</date>
	<key>windowSnapping</key>
	<true/>
	<key>windowSnapping__DEFAULTS__synchronizeTimestamp</key>
	<date>2026-06-26T16:34:37Z</date>
</dict>
</plist>
